<div class="container">
  <div class="form-container">
    <div class="form-horizontal">
      <h1 class="title">Login</h1>
      <input class="form-control" #userName required type="email" placeholder="Ingresa tu email">     
      <input class="form-control" #userPassword required type="password" placeholder="Ingresa tu clave">
      <input type="button" class="btn signin" (click)="authService.SignIn(userName.value, userPassword.value)" value="login"/>
    </div>
    <div class="left-position">
    </div>
  </div>
</div>
